html {
  font-family: "Noto Sans", sans-serif;
  font-family: "Noto Sans Japanese", sans-serif;
}

.banner-wrap {
  margin-left: auto;
  margin-right: auto;
}

h1 {
  position: relative;
  margin-bottom: 2.6rem;
}

.heading-eng {
  position: absolute;
}

.h1-eng {
  left: 50%;
  transform: translateX(-50%);
}

a {
  color: #005e76;
  text-decoration: none;
  border-bottom: 2px solid #8bc9d9;
}

a:hover {
  color: #0084a6;
}

hr {
  border-color: #e2e2e2;
}

.btn-ghost {
  border: 2px solid #8bc9d9;
  border-radius: 5px;
  color: #005e76;
}

.btn:hover {
  color: #000;
  border-color: #005e76;
  background-color: #8bc9d9;
}

.c-flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.c-grow {
  flex-grow: 1;
}

@media only screen and (min-width: 38em) {

  .grid-width-fix {
    max-width: 66%;
  }

  .bottom-fix-m {
    bottom: -.5em;
  }

}

@media only screen and (min-width: 60em) {

  .heading-eng {
    left: 0;
    transform: none;
  }

  h1 {
    margin-bottom: 1.5rem;
  }

  .banner-wrap h1 {
    text-align: left;
  }

  .banner-wrap nav {
    text-align: right;
  }

  .grid-width-fix {
    max-width: none;
  }

}
